/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.tex-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
color: var(--White-Color, #FFF);
border: 0;
font-size: 20px;
font-style: normal;
font-weight: 700;
padding:15px 35px;
}
.nav-title{
    color: var(--Dark-01, #181818);

font-family: Open Sans;
font-size: 45px;
font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    padding-right: 50px;

}
nav a{
    text-decoration: none;
    color: var(--Dark-02, #474747);
}

/*header related style*/
.header{
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-content{
    width: 585px;
}
.banner .profile-picture{
    width: 584px;

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
font-style: normal;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 25px;
    font-family: Open Sans;
    font-weight: 100;
}

/* main section style  */
main{
    width: 1140px;
    margin: 0 auto;
}

/*about section style*/
.about{
    padding: 130px;
    border-radius: 10px;
background: #FFF8F3;
margin: 130px 0 130px 0 ;
}
.section-title{
    color: var(--Dark-01, #181818);
text-align: center;
font-size: 35px;;
font-weight: 700;
}
.secton-content{
    text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-content{
    padding: 30px 150px;
    color: var(--Dark-03, #757575);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.skill-container{
    display: flex;
    gap: 24px;
    
}
.skills{
    
    padding: 30px;
    
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-content{
    color: var(--Dark-03, #757575);
    
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
main  section{
    margin-top: 130px;
}

/* resume  */
.resume-headline{
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
    
}
.resume-degree{
    color: var(--Dark-02, #474747);
font-size: 25px;
font-weight: 700;
}
.resume-uni{
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.resume-content{
    color: var(--Dark-03, #757575);
font-size: 16px;
font-weight: 400;
 
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-container hr{
    margin: 20px 0 20px 0;
}
.resume-degree{
    margin-bottom: 10px;
}
.resume-uni{
    margin-bottom: 20px;
    margin-top: 0;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer style  */
footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
}
.footer-column{
    width: 50%;
}
.section-content{
    color: var(--Dark-02, #474747);
font-size: 16px;
font-weight: 400;
padding: 20px 0 30px 0;
}
.footer-form input[type="text"],.footer-form input[type="email"], textarea{
    display: block;
    border-radius: 5px;
background: var(--White-Color, #FFF);
flex-shrink: 0;
border: 0;
margin-bottom: 25px;
padding: 18px 35px;
width: 100%;
}
.footer-icon img{
    width: 24px;
height: 24px;
margin-right: 25px;

}